html,body {
    margin: 0;
    background: rgb(222, 241, 246);
}
header{
    width: 100%;
    height: 100px;
    background: green;
    color: white;
}
header nav {
    width: 100%;
    height: 30px;
    background: black;
    color: white;
    align-items:center;
    display: flex;
    justify-content: center;
}
header div{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header div label{
    font-size: 20pt;
}
header nav ul{
    padding: 0%;
    list-style: none;
    display: flex;
}
header nav ul li{
   /* margin-left: 50px;
    margin-right: 50px;*/
    margin:0 20px 0 20px

}
header nav ul li a{
    color: white;
    text-decoration: 0;
}
header nav li a:hover{
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    font-size: small;
    line-height: 40px;
    text-align: center;
}
section{
    width:100%;
    height:calc(100% - 140px);
    display:flex;
    justify-content: center;

}
section div{
    width:calc(100% - 100px);
    background: burlywood;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
